html{
  font-size: 16px;
  font-size: 1rem;
  font-size: 100%;
}
body{
  color: cadetblue;	
  background-color: lightblue;
  background-image: linear-gradient(to bottom,lightcyan , darkcyan 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
h1,h2,h3,h4{
    color:dimgray;
}

h3{
	padding-bottom: 2%;
}

.row{
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
	
}
.btn{
  background: white;
  box-shadow: inset 0 0 0 0.2em lightblue;
  border: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transition: all 500ms $ease-out-quint;
  outline: 0;
  margin-top: 25%;
}

.btn:hover{
	background: lightblue;
    color: white;
}
.form-control{
	box-sizing: border-box;
	box-shadow: inset 0 0 0 0.1em lightblue;
	text-align: center;
	margin-left: 2%;
}